{% extends "pohja.html" %}

{% block body %}
<title>Suosikit</title>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
  	{% if target %} {{ target.account }} {% else %} Kaikki {% endif %}
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="/favourites/">Kaikki</a></li>
	{% for i in targets %}
	 <li><a href="/favourites/{{ i.id }}/">{{ i.account }}</a></li>
	{% endfor %}
   
  </ul>
</div>
{{ count }}
{% if pages > 1 or page > 0 %}
<div class="tab-nav" style="margin:2rem 0;font-size:2rem">
{% for i in range(pages) %}
	{% if i == page %}
	<strong>{{ i+1 }}</strong>
	{% else %}
	<a href="?page={{ i+1 }}">{{ i+1 }}</a>
	{% endif %}
{% endfor %}
</div>
{% endif %}

{% for st in stripit %}
<div class="sarjakuva" ng-controller="StripCtrl">
	<h3 ng-init="strippi={{ st.id }};Thumbs();"> 
		{{ st.sarjakuva.nimi }} {{ st.Pvm() }} 
		{% if user.id != 2 %}
		<span ng-class="{ 'good': vote===true }"
			ng-click="Thumbs(true)"
			class="pointer glyphicons glyphicons-thumbs-up"></span>
		<span ng-class="{ 'bad': vote===false }"
			ng-click="Thumbs(false)"
			class="pointer glyphicons glyphicons-thumbs-down"></span>
		{% endif %}
		({{ st.Grade() }})
	</h3>
	
	<a {% if current_user.get_id() %} 
		href="/{{ st.sarjakuva.lyhenne }}/id/{{ st.id }}/"
		{% else %}
		href="{{ st.page_url }}"
		{% endif %}
		>
	
	{% if st.sarjakuva.download %}
	<img src="{{ url_for('static', 
			filename='sarjakuvat/'+st.sarjakuva.lyhenne+'/'+st.filename )}}" />
	
	{% else %}
	<img src="{{ st.url }}" />
	{% endif %}
	</a><br/>
</div>
{% endfor %}

{% if stripit|length == 0%}
<div class="sarjakuva">
	<h3> Ei suosikkeja</h3>
</div>
{% endif %}

<script>
	document.title = "Suosikit {{ target.account }}"
	
</script>
{% endblock %}