{% extends "pohja.html" %}

{% block body %}

<div id="navigaattori" class="sarjakuva">
	
	<a class="prev btn btn-success" href="/d/{{dates['yesterday']}}">
		<span class="glyphicons glyphicons-collapse r180"></span>
		<span class="fivepx">{{dates.yesterday}}</span>
	</a>
	<a class="btn today">
		<span class="glyphicons glyphicons-turtle"></span>
		<span class="fivepx">{{dates.day}}</span>
	</a>
	{% if dates.next_day %}
	<a class="next btn btn-success" href="/d/{{dates['tomorrow']}}">
		<span class="fivepx">{{ dates.tomorrow }}</span>
		<span class="glyphicons glyphicons-collapse"></span>
	</a>
	{% endif %}
	{% if request.args.get("all") == "true" %}
	<a class="next btn btn-primary" href="?all=false">
		<span class="fivepx">Karsitut</span>
		<span class="glyphicons glyphicons-list"></span>
	</a>
	
	{% else %}
	<a class="next btn btn-primary" href="?all=true">
		<span class="fivepx">Kaikki</span>
		<span class="glyphicons glyphicons-list"></span>
	</a>
	{% endif %}
</div>

{% for st in stripit %}
<div class="sarjakuva" ng-controller="StripCtrl">
	<h3 ng-init="strippi={{ st.id }};Thumbs();"> 
		{{ st.sarjakuva.nimi }} {{ st.Pvm() }}
		{% if user.id != 2 %}
		<span ng-class="{ 'good': vote===true }"
			ng-click="Thumbs(true)"
			class="pointer glyphicons glyphicons-thumbs-up"></span>
		<span ng-class="{ 'bad': vote===false }"
			ng-click="Thumbs(false)"
			class="pointer glyphicons glyphicons-thumbs-down"></span>

		<span class="glyphicons glyphicons-bin pointer bad" style="margin-left:2rem" ng-click="HideComic({{ st.sarjakuva_id }})"></span>
		{% endif %}
		{% if user.admin %}
		<span class="glyphicons glyphicons-edit" style="margin-left:2rem" ng-click="EditStrip()"></span>
		<div ng-show="expand">
			<button class="btn btn-default" 
				ng-class="{ 'active': strip_options.nsfw }"
				ng-click="EditStrip('nsfw')">NSFW {[{ strip_options.nsfw }]}</button>
			<button class="btn btn-default" 
				ng-class="{ 'active': strip_options.short }"
				ng-click="EditStrip('short')">{[{ strip_options.short ? 'short': 'long' }]}</button>
		</div>
		{% endif %}
	</h3>
	<a href="/{{ st.sarjakuva.lyhenne }}/id/{{ st.id }}/">
	{% if st.sarjakuva.download %}
	<img src="{{ url_for('static', 
			filename='sarjakuvat/'+st.sarjakuva.lyhenne+'/'+st.filename )}}" />
	
	{% else %}
	<img src="{{ st.url }}" />
	{% endif %}
	</a><br/>
</div>
{% endfor %}

{% if stripit|length == 0%}
<div class="sarjakuva">
	<h3> Ei sarjakuvia tälle päivälle </h3>
</div>
{% endif %}

<script>
document.title = "Sarjakuvat {{ dates.day }}";

$(document).keydown(function(e) {
	switch(e.which) {
	    case 37: // left
	    e.preventDefault(); // prevent the default action (scroll / move caret)
	    window.open("/d/{{ dates.yesterday }}/", "_self")
	    break;
	    

	    {% if dates.next_day %}
	    case 39: // right
	    e.preventDefault(); // prevent the default action (scroll / move caret)
			window.open("/d/{{ dates.tomorrow }}/", "_self")
	    break;
	    {% endif %}
	    default: return; // exit this handler for other keys
	}
});
</script>


{% endblock %}